@{
    ViewData["Title"] = "About";
}
<!-- <h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3> -->

<img id="photo-me" src="/images/proffesional-photo.jpg" />
<h2>About</h2>
<p>Recent graduate in Geophysics with a minor in Math. Created a minimum detection map in Python that gave seismologists critical information. Expanded my skillset by 
enrolling in the Coding Dojo bootcamp, where I focused on C#, Python and MEAN.

When I'm not behind a computer, I love hiking, dancing and reading.
</p>
