@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    12221 Bel Red Rd <br />
    Bellevue, WA 98005<br />
    <abbr title="Phone">P:</abbr>
    425.780.3742
</address>

<address>
    <strong>Email:</strong> <a href="mailto:scdymek@msn.com">scdymek@msn.com</a><br />
</address>
