<div class="project">
    <h1>Geology</h1>
    <img id="geology-photo" class="photo" src="/images/geology_website.png">
    <h2>Description</h2>
    <p>
        Created a website to display rock and mineral information in an easy
        to read easy to search format using C#.
        Users can save rock and mineral favorites.
        Deployed using AWS.
    </p>

    <h2>Tech</h2>
    <p>
        ASP .NET Core, MySQL, AWS, Github
    </p>
</div>

<div class="project">
    <h1>Drupal 8</h1>
    <img class="photo" src="/images/drupal-8-released.jpg">
    
    <h2>Description</h2>
    <p>
        Scraped hundreds of HTML pages to extract photos/information to
        create a CSV file to migrate photos to a new system without losing any
        information.
    </p>

    <h2>Tech</h2>
    <p>
        Drupal 8, CSV, HTML,YAML
    </p>
</div>

<div class="project">
    <h1>Faults</h1>
    <img class="photo" src="/images/pnsn_faults.png">
    
    <h2>Description</h2>
    <p>
        Analyzed an XML file to display all faults in Washington and Oregon.
        Collaborated with Geologists to determine which faults to display
        allowing the public to visualize where faults are located.
    </p>

    <h2>Tech</h2>
    <p>
        XML, Python
    </p>
</div>