<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
    <div class="container-resume">
        <div class="header">
            <h1>Susan C. Stiebritz</h1>
            <div class="contact_info">
                <ul>
                    <li class="horizontal">425-780-3742</li>
                    <li class="horizontal">scdymek@msn.com</li>
                    <li class="horizontal">https://github.com/dymeks</li>
                    <li class="horizontal">www.linkedin.com/in/susan-dymek</li>
                </ul>
            </div>
            <div class="title">
                <p class="bold">Full Stack Developer</p>
                <p>
                    Recent graduate in Geophysics with a minor in Math. Created a minimum detection map in Python
                    that gave seismologists critical information. Expanded my skillset by enrolling in the Coding
                    Dojo bootcamp, where I focused on C#, Python and MEAN.
                </p>
            </div>
        </div>
        <div class="col1">
            <div class="tech_box">
                <div>
                    <h2>Languages</h2>
                    <ul>
                        <li class="list">C#</li>
                        <li class="list">JavaScript</li>
                        <li class="list">Python</li>
                    </ul>
                    <h2>Frameworks</h2>
                    <ul>
                        <li class="list">node.js</li>
                        <li class="list">AngularJS</li>
                        <li class="list">ASP.NET Core</li>
                        <li class="list">express.js</li>
                        <li class="list">Django</li>
                    </ul>
                    <h2>   </h2>
                    <h2>Databases</h2>
                    <ul>
                        <li class="list">MySQL</li>
                        <li class="list">MongoDB</li>
                    </ul>
                    <h2>Other</h2>
                    <ul>
                        <li class="list">HTML</li>
                        <li class="list">CSS</li>
                        <li class="list">Git</li>
                        <li class="list">AWS</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col2">
            <h1>Projects</h1>
            <div class="project">
                <h2>RockStar</h2>
                <ul>
                    <li class="list">Created a website to display rock and mineral information in an easy to read, easy to
                        search format using C#.</li>
                    <li class="list">Users can save rock and mineral favorites.</li>
                    <li class="list">Deployed using AWS.</li>    
                </ul>
                <p>Tech: C#, ASP .NET core, SQL, AWS, Github</p>
            </div>
            <div class="project">
                <h2>MoneyCoach</h2>
                <ul>
                    <li class="list">Collaborated on a team of 2 to allow users to visualize their finances</li>
                    <li class="list">Incorporated Plotly to visualize finances.</li>
                    <li class="list">Deployed using AWS.</li>    
                </ul>
                <p>Tech: Python, Django, SQL, Plotly, AWS, Github</p>
            </div>
            <h1>Experience</h1>
            <h2>Pacific Northwest Seismic Network</h2> 
            <ul>
                <li class="list">Combined translating python code with the results from querying IRIS
                    for noise profile information and talked with Geologists to adjust the
                    parameters for the Pacific Northwest creating a minimum magnitude detection
                    map for the PNSN.</li>
                <li class="list">Scraped hundreds of HTML pages to extract photos/information to create a
                    CSV file to migrate photos to a new system without losing any information.</li>
                <li class="list">Analyzed an XML file to display all faults in Washington and Oregon.
                    Collaborated with geologists to determine which faults to display allowing the
                    public to visualize where faults are located.</li>        
            </ul>
            <h1>Education</h1>  
            <h2>Coding Dojo</h2>
            <p>Certificate of Achievement: Full Stack Web Development
                Earned 95% and higher on the comprehensive exams in C#, Python, MEAN</p>
                
            <ul>
                <li class="list">Created a wedding planner in C# that incorporated google maps API to show
                    addresses and allowed users to join/add weddings.</li>
                <li class="list">Created an Activity manager. Added a custom date validation, once the date
                    was passed the activity will no longer be shown. Complete validations on all
                    forms.</li>
                <li class="list">Created a commerce manager site, complete with front-end and backend
                    validations. All CRUD operations for each product and included RESTful
                    routing.</li>    
            </ul>
            <h2>University of Washington</h2>
            <p>
                <span class="bold">Bachelor of Science</span> , Earth and Space Sciences: Physics <br>
                <span class="bold">Minor</span> , Mathematics
            </p>


        </div>   
    </div>
</body>
</html>