* {
    margin:0px;
    padding:0px;
}

.container-resume {
    font-family: Arial, Helvetica, sans-serif;
    width: 900px;
    background-color: rgba(232, 226, 217, 0.897);
    margin: 0px auto;
    padding:15px;
}

.header {
    text-align: center;
    border-bottom: green solid 5px;
}

.horizontal {
    display: inline-block;
    margin: 10px 20px;
}

.title {
    text-align: left;
    padding:25px 10px 10px 10px;

}

.col1 {
    margin:0px 10px;
    display: inline-block;
    width: 200px;
    
    height: 750px;
}

.col2 {
    margin: 0px 10px;
    vertical-align: top;
    display: inline-block;
    border-left: green solid 5px;
    padding-left: 10px;
    width: 600px;
}

.list {
    list-style-position: inside;
}
.bold {
    font-weight: bold;
}

